server:
  port: 9090

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/lms_db?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8
    username: root
    password: wdx2004%
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true